html,
body {
  height: 100%;
}
:root {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  justify-items: center;
  align-items: center;
  gap: 2vmin;
}
.gameboard {
  display: grid;
  grid-template-columns: 20vmin 20vmin 20vmin;
  grid-auto-rows: 20vmin;
}
.gameboard > div {
  border-top: lightgray 1vmin solid;
  border-left: lightgray 1vmin solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameboard > div:nth-child(3n) {
  border-right: lightgray 1vmin solid;
}
.gameboard > div:nth-child(7),
.gameboard > div:nth-child(8),
.gameboard > div:nth-child(9) {
  border-bottom: lightgray 1vmin solid;
}

.gameboard svg {
  width: 15vmin;
}

button {
  font-size: 5vmin;
  font-weight: bold;
  height: 10vmin;
  border: none;
  padding: 2vmin 4vmin;
  background-color: darkslategrey;
  color: beige;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
}
.score > div {
  padding: 2vmin;
  display: flex;
  align-items: center;
  font-size: 7vmin;
  height: 10vmin;
  width: 20vmin;
  border: 1vmin solid lightskyblue;
}
.score svg {
  height: 100%;
  margin-right: auto;
}

.win {
  background-color: rgb(94, 236, 153);
}
