html,
body {
  height: 100%;
}
:root {
  font-family: sans-serif;
  text-transform: uppercase;
}
body,h1 {
  margin: 0;
}
h1{
  font-size: 5vmin;
  color: rgb(142, 142, 142);
}
 button{
  height: fit-content;
  padding: 1vmin;
  text-transform: uppercase;
  font-size: 5vmin;
  font-weight: 900;
  color: #fff;
  background-color: #000;
  border: 1vmin solid black;
}
 button:hover{
color: #000;
background-color: #fff;
}
.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}
.buttons{
  display: flex;
  gap: 4vmin;
  margin: auto;
}
.choose-gamemode{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}
.choose-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}


button path{
fill: #fff;
}
button:hover path{
  fill: #000;
}
.buttons svg{
  display: block;
  width: 10vmin;
}
.gameboard{
  display: grid;
  grid-template-columns: 20vmin 20vmin 20vmin;
  grid-template-rows: 20vmin 20vmin 20vmin;
  
}
.field{
border-left: 1vmin solid grey;
border-bottom: 1vmin solid grey;
display: flex;
justify-content: center;
padding: 1.5vmin;
}
.field:nth-child(3n){
  border-right: 1vmin solid grey;
}
.field:nth-child(1){
  border-top: 1vmin solid grey;
}
.field:nth-child(2){
  border-top: 1vmin solid grey;
}.field:nth-child(3){
  border-top: 1vmin solid grey;
}
.game{
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items: center;
}
.game button{
  font-size: 5vmin;
}
.win{
  background-color: rgb(79, 206, 136);
}

.hidden{
  display: none;
}

.highlight{
border-color: tomato;
}
.score{
  display: flex;
  height: 10vmin;
  gap: 2vmin;
  justify-content: center;
}
.score>div{
  display: flex;
  align-items: center;
  font-size: 5vmin;
  border: 1vmin solid #000;
  padding: 1vmin;
  gap: 2vmin;
}
.score svg{
  height: 100%;
}